.hor {
	width: auto;
	height: 93%;
	background-color: rgb(53, 54, 54);
	color: white;
	text-align: center;
}
.vert {
	width: 100%;
	height: 98%;
	background-color: rgb(53, 54, 54);
	color: white;
	text-align: center;
	.mat-card-title {
		font-size: 3em;
		line-height: 1.4;
	}
	.mat-card-content {
		font-size: 2em;
	}
}
#stat {
	font-weight: bold;
}
