:host > * {
	margin: 1em;
	min-width: 14em;
}
h1,
h2,
h3 {
	text-align: center;
	span {
		opacity: 0.3;
		font-size: 0.7em;
		font-weight: 500;
		&.bottom {
			width: 80%;
			display: block;
			margin: 0 auto;
		}
	}
}
.separator {
	display: flex;
	align-items: center;
	opacity: 0.2;
	> *:not(hr) {
		margin: 0 1em;
		white-space: nowrap;
	}
	hr {
		border: solid 1px;
		height: 0px;
		width: 100%;
	}
}
.unit {
	font-weight: 300;
	font-size: 14px;
}
mat-card-title {
	transition: ease 0.2s;
}
.indeterminate {
	opacity: 0.5;
	filter: blur(3px);
}
