<h2>
	Statistics<br />
	<span>{{ filterToString }}</span>
</h2>

<ng-container *ngFor="let sg of statGroups">
	<div *ngIf="sg.title && sg.members.length > 0" class="separator">
		<hr />
		<h3>{{ sg.title }}</h3>
		<hr />
	</div>
	<mat-card *ngFor="let s of sg.members">
		<mat-card-content>{{ s.label }}:</mat-card-content>
		<mat-card-title [class.indeterminate]="indeterminate">
			{{ s.value }}<span *ngIf="s.unit" class="unit">{{ s.unit }}</span>
		</mat-card-title>
	</mat-card>
</ng-container>
<h2 *ngIf="showLightFireMessage">
	<span class="bottom">
		Light your fire to view personal statistics here.
	</span>
</h2>
