:host > * {
	margin: 1em;
}
h1,
h2,
h3 {
	text-align: center;
}
.separator {
	display: flex;
	align-items: center;
	opacity: 0.2;
	> *:not(hr) {
		margin: 0 1em;
	}
	hr {
		border: solid 1px;
		height: 0px;
		width: 100%;
	}
}
.unit {
	font-weight: 300;
	font-size: 14px;
}
