.hor {
	display: flex;
	height: 3em;
	mat-button-toggle-group {
		font-size: 1rem;
		margin-right: 2em;
	}
}
#title {
	color: white;
	font-size: 40px;
}
.spacer {
	flex: 1 auto;
}
.vert {
	display: flex;
	height: 8em;
	#title {
		font-size: 3em;
	}
	mat-button-toggle-group {
		font-size: 1.8rem;
		margin-right: 1em;
	}
	#toggle {
		margin-right: 1em;
	}
}
::ng-deep
	.mat-button-toggle-appearance-standard
	.mat-button-toggle-label-content {
	line-height: 2.5em;
}
#toggle {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 5em;
}
