<mat-toolbar color="primary" class="{{ isVertical ? 'vert' : 'hor' }}">
	<h1 id="title">{{ title() }}</h1>
	<span class="spacer"></span>
	<mat-button-toggle-group [value]="mapMode" (change)="m($event)">
		<mat-button-toggle value="point">Points</mat-button-toggle>
		<mat-button-toggle value="line">Lines</mat-button-toggle>
		<mat-button-toggle value="heatmap">Heatmap</mat-button-toggle>
	</mat-button-toggle-group>
	<div id="toggle">
		<mat-icon>light_mode</mat-icon>
		<mat-slide-toggle
			[ngModel]="theme == 'dark'"
			(ngModelChange)="t($event)"
		></mat-slide-toggle>
		<mat-icon>dark_mode</mat-icon>
	</div>
</mat-toolbar>
