.spacer {
	flex: 1 auto;
}
mat-button-toggle-group {
	font-size: 1rem;
	margin-right: 2em;
}
::ng-deep
	.mat-button-toggle-appearance-standard
	.mat-button-toggle-label-content {
	line-height: 2.5em;
}
#toggle {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 5em;
}
