<mat-toolbar [class.hide]="hideToolbar">
	<mat-toolbar-row>
		<h1 id="title">Lume<span class="minify"> Map</span></h1>
		<span class="spacer"></span>
		<button mat-flat-button color="primary" (click)="toggleIntro.emit()">
			<span class="minify">WHAT IS LUME&nbsp;</span
			><span class="nominify">ABOUT&nbsp;</span>
			<mat-icon>question_mark</mat-icon>
		</button>
		&nbsp;&nbsp;
		<button mat-flat-button color="accent" (click)="downloadAndroid()">
			<mat-icon>download</mat-icon>&nbsp;&nbsp;
			<mat-icon>android</mat-icon></button
		>&nbsp;
		<button
			mat-flat-button
			color="accent"
			class="bluebg"
			(click)="downloadIos()"
		>
			<mat-icon>download</mat-icon>&nbsp;&nbsp;
			<img class="icon" src="/assets/apple.svg" />
		</button>
	</mat-toolbar-row>
</mat-toolbar>
