<mgl-map
	id="map"
	[style]="getStyleUrl()"
	[zoom]="[11]"
	[attributionControl]="false"
	[center]="[8.45, 50.08]"
	(mapLoad)="map = $event"
	[trackResize]="false"
>
	<mgl-geojson-source id="lines">
		<mgl-feature
			*ngFor="let l of lines; index as i"
			[id]="i"
			[properties]="l.properties"
			[geometry]="l.geometry"
		></mgl-feature>
	</mgl-geojson-source>
	<mgl-geojson-source id="points">
		<mgl-feature
			*ngFor="let p of points; index as i"
			[id]="i"
			[properties]="p.properties"
			[geometry]="p.geometry"
		></mgl-feature>
	</mgl-geojson-source>
	<mgl-image id="fire" url="assets/torch_ico.png"> </mgl-image>
	<mgl-layer
		*ngIf="mode == 'line'"
		id="linetree"
		type="line"
		source="lines"
		[filter]="filters"
		[paint]="linesPaint"
	>
	</mgl-layer>
	<mgl-layer
		*ngIf="mode == 'heatmap'"
		id="heatmap"
		type="heatmap"
		source="points"
		[filter]="filters"
		[paint]="heatmapPaint"
	>
	</mgl-layer>
	<mgl-layer
		*ngIf="mode == 'point'"
		id="pts"
		type="symbol"
		[layout]="pointLayout"
		source="points"
		[filter]="filters"
		(layerClick)="onPointClick($event)"
	>
	</mgl-layer>
</mgl-map>
