<div id="intro">
	<!-- display card with intro -->
	<mat-card>
		<!-- button to close intro -->
		<img src="/assets/intro/close.svg" class="close" (click)="close()" />
		<!-- Container for displaying the image and content of the respective intro page-->
		<div class="container">
			<mat-card-content
				*ngFor="let intro of messages; let i = index"
				[class.visible]="i == currentIndex"
				[class.passed]="i < currentIndex"
			>
				<h2>{{ intro.title }}</h2>
				<img
					mat-card-image
					class="introIcon"
					[src]="'/assets/intro/' + intro.image"
					alt="Icon describing this slide"
				/>
				<p>
					{{ intro.text }}
				</p>
			</mat-card-content>
		</div>
		<div
			[class]="
				'buttons' +
				(currentIndex == messages.length - 1 ? ' lastSlide' : '')
			"
		>
			<!-- buttons to go back and forth -->
			<button mat-button (click)="prev()">
				{{ currentIndex == 0 ? "close" : "previous" }}
			</button>
			<button mat-stroked-button (click)="next()">
				{{ currentIndex == messages.length - 1 ? "Explore" : "next" }}
			</button>
			<!-- download button on the last side of the intro-->
			<button
				*ngIf="currentIndex == messages.length - 1"
				mat-flat-button
				color="primary"
				class="downloadnow"
				(click)="download()"
			>
				DOWNLOAD NOW
			</button>
		</div>
	</mat-card>
</div>
