mat-card {
	margin: 0 auto;
	padding-top: 4em;
	overflow: hidden;
	position: relative;
	height: 34em;
	max-width: 95%;
}
mat-card-content {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	& > * {
		margin-bottom: 1em;
	}
}
@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(10%);
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes slideOut {
	0% {
		opacity: 1;
		transform: translateX(0%);
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		transform: translateX(-10%);
	}
}
.container {
	height: calc(100% - 4em);
	display: grid;
	& > * {
		grid-column: 1;
		grid-row: 1;
		opacity: 0;
		&.passed {
			animation: slideOut 0.6s ease-in-out 0s 1;
		}
		&.visible {
			animation: slideIn 0.6s ease-in-out 0s 1;
			opacity: 1;
		}
	}
}
h2 {
	text-align: center;
	margin-top: 1em;
	font-size: 2em;
}
.close {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	height: 2em;
	cursor: pointer;
	padding: 1em;
}
img.introIcon {
	padding: 0 2em;
	max-width: calc(100% - 4em);
	height: 16em;
	margin-left: auto;
	margin-right: auto;
}
p {
	padding: 0 15%;
}
.buttons {
	button {
		width: 6.5em;
		height: fit-content;
	}
	&.lastSlide {
		button {
			width: auto;
		}
	}
	display: flex;
	justify-content: space-evenly;
}
.downloadWrapper {
	text-align: center;
	margin-top: -1.5em;
}
