#grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content auto;
	height: 100%;
}

mat-drawer-container {
	position: relative;
}
.floatAbove {
	position: absolute;
	z-index: 100000;
}
#statsButton {
	top: 1em;
	right: 1em;
}

#timeSlider {
	bottom: 1em;
	left: 1em;
	width: calc(100% - 2em);
}
