<div id="grid">
	<app-toolbar></app-toolbar>
	<mat-drawer-container>
		<mat-drawer
			class="{{ isVertical ? 'vertStats' : 'horStats' }}"
			#drawer
			mode="side"
			position="end"
		>
			<app-stats></app-stats>
		</mat-drawer>
		<app-map
			[kind]="'heatmap'"
			[mode]="'light'"
			[filter]="filter"
		></app-map>
		<button
			type="button"
			class="floatAbove"
			class="{{ isVertical ? 'vertBut' : 'horBut' }}"
			mat-raised-button
			(click)="drawer.toggle()"
		>
			Stats
		</button>
		<app-slider
			class="floatAbove"
			class="{{ isVertical ? 'vert' : 'hor' }}"
			id="timeSlider"
			[(date)]="selectedTstamp"
		></app-slider>
	</mat-drawer-container>
</div>
