<div id="grid" [class.dark]="theme == 'dark'">
	<app-toolbar
		[(theme)]="theme"
		[portraitMode]="portraitMode"
		[(mapMode)]="mapMode"
	></app-toolbar>
	<mat-drawer-container>
		<mat-drawer
			[class.portrait]="portraitMode"
			#drawer
			mode="side"
			position="end"
		>
			<button
				*ngIf="portraitMode"
				type="button"
				mat-raised-button
				(click)="drawer.toggle()"
				id="returnButton"
			>
				<img src="/assets/arrow_large_l.svg" class="icon" />
			</button>
			<app-stats
				#stats
				[indeterminate]="sliderIndeterminate"
				[filterRange]="filter"
			></app-stats>
		</mat-drawer>
		<app-map
			(inspectUuid)="stats.setInspect($event)"
			[theme]="theme"
			[mode]="mapMode"
			[filter]="filter"
		></app-map>
		<button
			id="statsButton"
			type="button"
			class="floatAbove"
			mat-mini-fab
			(click)="drawer.toggle()"
		>
			<img src="/assets/stats.svg" class="icon" />
		</button>
		<app-slider
			class="floatAbove"
			[portraitMode]="portraitMode"
			id="timeSlider"
			[class.portrait]="portraitMode"
			[(date)]="filter.to"
			(indeterminateChange)="indeterminateChange($event)"
		></app-slider>
	</mat-drawer-container>
	<div @list id="messages" [class.portrait]="portraitMode">
		<mat-card @items *ngFor="let m of messageService.ms" [class]="m.type">
			<div>
				<mat-card-title>{{ m.title }}</mat-card-title>
				<mat-card-subtitle [innerHTML]="m.text"></mat-card-subtitle>
			</div>
			<button mat-icon-button (click)="messageService.remove(m)">
				<mat-icon>close</mat-icon>
			</button>
		</mat-card>
	</div>
</div>
