#togglebutton {
	position: absolute;
	top: 4%;
	right: 2%;
}
#map {
	height: 100%;
	width: 100%;
}
#temp {
	width: 100%;
	height: 100%;
}
#sidenav {
	width: auto;
	height: auto;
	background-color: rgb(53, 54, 54);
}
#bottom {
	height: 92%;
}
