#toolbar{
    background-color:rgb(66, 18, 18);
    display: flex;
}
#title{
    color:white;
    font-size: 40px;
}
.spacer {
    flex: 1  auto;
}
.statcard{
    width:200px;
    height: 550px;
    float:right;
    background-color: rgb(53, 54, 54);
    color:white;
    text-align: center;
}
