#firegif{
    height: 60px;
    width: 60px;
}
#toolbar{
    background-color:rgb(66, 18, 18);
    display: flex;
}
#title{
    color:white;
    font-size: 40px;
}
.example-spacer {
    flex: 1  auto;
}
.button{
}