<mat-card [class.portrait]="portraitMode">
	<!-- date limit at the beginning of the slider-->
	<div class="dates">
		{{ labelString("start") }}
	</div>
	<!-- slider -->
	<mat-slider
		thumbLabel
		[displayWith]="formatLabel"
		[tickInterval]="tickInterval"
		[step]="stepRange"
		[min]="range.from"
		[max]="range.to"
		value="{{ date }}"
		(input)="change($event)"
		(change)="release($event)"
		aria-label="units"
		[vertical]="portraitMode"
	></mat-slider>
	<!-- date limit at the end of the slider-->
	<div class="dates">
		{{ labelString("end") }}
	</div>
	<!-- plus and minus button to change the range of the slider -->
	<div class="zooms">
		<button mat-icon-button class="zoom" (click)="zoom('in')">
			<img src="/assets/add.svg" class="icon" />
		</button>
		<button mat-icon-button class="zoom" (click)="zoom('out')">
			<img src="/assets/subtract.svg" class="icon" />
		</button>
	</div>
</mat-card>
