mat-card {
	padding-top: 0;
	padding-bottom: 0;
	display: grid;
	grid-template-columns: min-content auto min-content;
	grid-gap: 1em;
	line-height: 100%;
	align-items: center;
	mat-slider {
		width: 100%;
	}
	::ng-deep
		.mat-slider-wrapper
		.mat-slider-thumb-container
		.mat-slider-thumb-label {
		padding: 10px !important;
		right: -24px !important;
		top: -58px !important;
		background-color: rgb(53, 54, 54) !important;
		text-align: center !important;
	}
	&.portrait {
		grid-template-rows: min-content auto min-content;
		grid-template-columns: auto;
		justify-content: center;
		padding: 16px 0;
		height: calc(100% - 32px);
		mat-slider {
			width: 48px;
			height: 100%;
		}
		::ng-deep
			.mat-slider-wrapper
			.mat-slider-thumb-container
			.mat-slider-thumb-label {
			top: unset !important;
			left: -60px !important;
			bottom: -24px !important;
		}
		.dates {
			writing-mode: vertical-rl;
			transform: rotateZ(180deg);
			width: 1em;
			margin: 0 auto;
		}
	}
}
