mat-card {
	padding-top: 0;
	padding-bottom: 0;
	display: grid;
	grid-template-columns: min-content auto min-content min-content min-content;
	grid-gap: 1em;
	line-height: 100%;
	align-items: center;
	mat-slider {
		width: 100%;
	}
	::ng-deep
		.mat-slider-wrapper
		.mat-slider-thumb-container
		.mat-slider-thumb-label {
		padding: 10px !important;
		right: -24px !important;
		top: -58px !important;
		background-color: rgb(53, 54, 54) !important;
		text-align: center !important;
	}
	.dates {
		white-space: nowrap;
	}
	.zooms {
		display: flex;
		flex-direction: row;
		margin-right: -1.9em;
		button {
			margin: 0 0.2em;
			min-width: unset;
			width: fit-content;
			padding: 0 7px;
		}
	}
	&.portrait {
		grid-template-rows: min-content auto min-content min-content min-content;
		grid-template-columns: auto;
		justify-content: center;
		padding: 16px 0;
		height: calc(100% - 32px);
		mat-slider {
			width: 48px;
			height: 100%;
		}
		::ng-deep
			.mat-slider-wrapper
			.mat-slider-thumb-container
			.mat-slider-thumb-label {
			top: unset !important;
			left: -60px !important;
			bottom: -24px !important;
		}
		.dates {
			writing-mode: vertical-rl;
			transform: rotateZ(180deg);
			width: 1em;
			margin: 0 auto;
		}
		.zooms {
			flex-direction: column;
			margin-right: 0;
			margin-bottom: -2.1em;
			button {
				margin: 0 auto 0.3em;
			}
		}
	}
}
