<mat-card [class.portrait]="portraitMode">
	<div class="dates">
		{{ labelString("start") }}
	</div>

	<mat-slider
		thumbLabel
		[displayWith]="formatLabel"
		[tickInterval]="tickInterval"
		[step]="stepRange"
		[min]="range.from"
		[max]="range.to"
		value="{{ date }}"
		(input)="change($event)"
		(change)="release($event)"
		aria-label="units"
		[vertical]="portraitMode"
	></mat-slider>
	<div class="dates">
		{{ labelString("end") }}
	</div>
	<div class="zooms">
		<button mat-stroked-button class="zoom" (click)="zoom('in')">
			<mat-icon>zoom_in</mat-icon>
		</button>
		<button mat-stroked-button class="zoom" (click)="zoom('out')">
			<mat-icon>zoom_out</mat-icon>
		</button>
	</div>
</mat-card>
